<div class="form-card">

  <mat-card-title
    style="height: 50px; font-size: 20px; font-style: bold;"
  >
    {{ data.mode === 'edit' ? 'Edit Release' : 'Add Release' }}
  </mat-card-title>

  <mat-card-content>

    <form [formGroup]="form" (ngSubmit)="submit()">

      <!-- Release -->
      <div class="form">

        <mat-form-field color="primary">

          <mat-label>Release</mat-label>

          <input
            matInput
            formControlName="release"
            name="release"
            required
            autocomplete="off"
          />

          <mat-error
            *ngIf="form.controls['release'].hasError('required')"
          >
            {{ getErrorMessage('release') }}
          </mat-error>

        </mat-form-field>

      </div>


      <!-- Date -->
      <div class="form">

        <mat-form-field color="primary">

          <mat-label>Date (MM/dd/yyyy)</mat-label>

          <input
            matInput
            [matDatepicker]="picker"
            formControlName="date"
            name="date"
            required
            autocomplete="off"
          />

          <mat-datepicker-toggle
            matSuffix
            [for]="picker">
          </mat-datepicker-toggle>

          <mat-datepicker #picker></mat-datepicker>

          <mat-error
            *ngIf="form.controls['date'].hasError('required')"
          >
            {{ getErrorMessage('date') }}
          </mat-error>

        </mat-form-field>

      </div>


      <!-- Notes -->
      <div class="form">

        <mat-form-field
          color="primary"
          class="notes-field"
        >

          <mat-label>Notes</mat-label>

          <textarea
            matInput
            formControlName="notes"
            name="notes"
            rows="4"
            required
          ></textarea>

          <mat-error
            *ngIf="form.controls['notes'].hasError('required')"
          >
            {{ getErrorMessage('notes') }}
          </mat-error>

        </mat-form-field>

      </div>


      <!-- Buttons -->
      <div mat-dialog-actions>

        <button
          mat-button
          type="submit"
          [disabled]="form.invalid"
        >
          {{ data.mode === 'edit' ? 'Update' : 'Save' }}
        </button>

        <button
          mat-button
          type="button"
          (click)="onNoClick()"
        >
          Cancel
        </button>

      </div>

    </form>

  </mat-card-content>

</div>