<h2 class="page-title">{{ title }}</h2>
<div class="main-container">
  <div class="actions-button-container">
    <button mat-icon-button (click)="openAddDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="form-fields-container">
    <mat-form-field>
      <input
        matInput
        placeholder="Search"
        #inputRef
        (change)="applyFilter(inputRef.value)"
      />
    </mat-form-field>
  </div>
</div>

<mat-table class="full-width-table" [dataSource]="dataSource">
  <!-- key Column -->
  <ng-container matColumnDef="key">
    <th mat-header-cell *matHeaderCellDef fxFlex="30%" class="centered-title">
      key
    </th>
    <td mat-cell *matCellDef="let element" fxFlex="30%" class="custom-cell">
      {{ element.key }}
    </td>
  </ng-container>

  <!-- value Column -->
  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef fxFlex="60%" class="centered-title">
      value
    </th>
    <td mat-cell *matCellDef="let element" fxFlex="60%" class="custom-cell">
      <textarea
        matInput
        type="text"
        [(ngModel)]="element.editedValue"
        #val
        (blur)="saveRow(element)"
        class="input-in-cell"
      >
      </textarea>
    </td>
  </ng-container>

  <!-- Delete Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef class="centered-title" fxFlex="10%">
      
    </th>
    <td mat-cell *matCellDef="let element" fxFlex="10%">
      <button mat-icon-button (click)="openConfirmationDialog(element)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr
    mat-header-row
    *matHeaderRowDef="displayedColumns"
    colspan="3"
    class="custom-row"
  ></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</mat-table>

<mat-paginator
  #paginator
  [length]="KeyValues.length"
  [pageIndex]="0"
  [pageSize]="50"
  showFirstLastButtons
>
</mat-paginator>

<!-- </div> -->
