<br />
<br />
<br />
<br />
<!-- <div class="container no-shadow"> -->

<!-- <div class="form">
    <mat-form-field floatPlaceholder="never" color="primary">
      <input matInput #filter placeholder="Filter issues" formControlName="filter">
    </mat-form-field>
  </div> -->

<mat-table class="full-width-table" [dataSource]="dataSource">

  <!-- datasetId Column -->
  <ng-container matColumnDef="datasetId">
    <th mat-header-cell *matHeaderCellDef fxFlex="30%" class="centered-title"> datasetId </th>
    <td mat-cell *matCellDef="let element" fxFlex="30%" class="custom-cell"> {{element.datasetId}} </td>
  </ng-container>

  <!-- name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef fxFlex="60%" class="centered-title"> name </th>
    <td mat-cell *matCellDef="let element" fxFlex="60%" class="custom-cell"> {{element.name}} </td>
  </ng-container>

  <!-- actions -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef fxFlex="10%">
      <button mat-icon-button color="primary" (click)="openAddDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-header-cell>

    <mat-cell *matCellDef="let row; let i=index;" fxFlex="10%">
      <button mat-icon-button color="primary" (click)="startEdit(row)">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-icon-button color="primary" (click)="deleteItem(row)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns" colspan="3" class="custom-row"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</mat-table>

<mat-paginator
  #paginator
  [length]="dataSets.length"
  [pageIndex]="0"
  [pageSize]="50"
  showFirstLastButtons
>
</mat-paginator>

<!-- </div> -->
