.toolbar {
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
  color: white;
  font-weight: 600;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

  .toolbar.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
  }
  
  .toolbar.sticky.hidden {
    top: -100px; /* Move the toolbar off-screen */
  }
  button {
    border: 0px;
    font-family: "Roboto";
    font-size: 14px;
    background-color: transparent;
    color: hsl(0, 100%, 38%);
  }

}

.toolbar img {
  margin: 0 16px;
}

.example-spacer {
  flex: 1 1 auto;
}

