<form [formGroup]="form" style="padding-top: 10px">
  <div class="form-fields-container">
    <mat-form-field>
      <mat-label>baseUrl</mat-label>
      <mat-select
        formControlName="baseUrl"
        (selectionChange)="onSelectionChange($event)"
      >
        <mat-option *ngFor="let baseUrl of baseUrls" [value]="baseUrl.value">
          {{ baseUrl.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Account</mat-label>
      <mat-select
        formControlName="accountId"
        (selectionChange)="onSelectionChange($event)"
      >
        <mat-option
          *ngFor="let account of accounts"
          [value]="account.accountId"
        >
          {{ account.accountName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Event Type</mat-label>
      <mat-select
        formControlName="eventType"
        (selectionChange)="onSelectionChange($event)"
      >
        <mat-option
          *ngFor="let eventType of eventTypes"
          [value]="eventType.key"
        >
          {{ eventType.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-fields-container2">
    <mat-form-field>
      <mat-label>UserId</mat-label>
      <input
        matInput
        type="number"
        formControlName="userId"
        (change)="onSelectionChange($event)"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>URL</mat-label>
      <input
        matInput
        formControlName="url"
        (change)="onSelectionChange($event)"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Request Body</mat-label>
      <input
        matInput
        formControlName="requestBody"
        (change)="onSelectionChange($event)"
      />
    </mat-form-field>
    
      <mat-form-field>
        <mat-label>RecordId</mat-label>
        <input
          matInput
          type="number"
          formControlName="recordId"
          (change)="onSelectionChange($event)"
        />
      </mat-form-field>
      <div class="button-container">
        <button class="small-button" (click)="onRefreshClick()">Refresh</button>
      </div>
  </div>
</form>

<mat-table class="full-width-table" [dataSource]="dataSource">
  <!-- accountId Column -->
  <ng-container matColumnDef="accountId">
    <th mat-header-cell *matHeaderCellDef fxFlex="6%" class="centered-title">
      account
    </th>
    <td mat-cell *matCellDef="let element" fxFlex="6%" class="custom-cell">
      {{ element.accountId }}
    </td>
  </ng-container>

  <!-- userId Column -->
  <ng-container matColumnDef="userId">
    <th mat-header-cell *matHeaderCellDef fxFlex="6%" class="centered-title">
      userId
    </th>
    <td mat-cell *matCellDef="let element" fxFlex="6%" class="custom-cell">
      {{ element.userId }}
    </td>
  </ng-container>

  <!-- recordId Column -->
  <ng-container matColumnDef="recordId">
    <th mat-header-cell *matHeaderCellDef fxFlex="6%" class="centered-title">
      recordId
    </th>
    <td mat-cell *matCellDef="let element" fxFlex="6%" class="custom-cell">
      {{ element.recordId }}
    </td>
  </ng-container>

  <!-- clockStamp Column -->
  <ng-container matColumnDef="clockStamp">
    <th mat-header-cell *matHeaderCellDef fxFlex="9%" class="centered-title">
      clockStamp
    </th>
    <td mat-cell *matCellDef="let element" fxFlex="9%" class="custom-cell">
      {{ formatDate(element.clockStamp) }}
    </td>
  </ng-container>

  <!-- token Column -->
  <ng-container matColumnDef="token">
    <th mat-header-cell *matHeaderCellDef fxFlex="24%" class="centered-title">
      token
    </th>
    <td mat-cell *matCellDef="let element" fxFlex="24%" class="custom-cell">
      <textarea
        matInput
        type="text"
        readonly="true"
        [(ngModel)]="element.token"
        class="input-in-cell"
      >
      </textarea>
    </td>
  </ng-container>

  <!-- url Column -->
  <ng-container matColumnDef="url">
    <th mat-header-cell *matHeaderCellDef fxFlex="24%" class="centered-title">
      url
    </th>
    <td mat-cell *matCellDef="let element" fxFlex="24%" class="custom-cell">
      <textarea
        matInput
        type="text"
        readonly="true"
        [(ngModel)]="element.url"
        class="input-in-cell"
      >
      </textarea>
    </td>
  </ng-container>

  <!-- requestBody Column -->
  <ng-container matColumnDef="requestBody">
    <th mat-header-cell *matHeaderCellDef fxFlex="25%" class="centered-title">
      request Body / Error Message
    </th>
    <td mat-cell *matCellDef="let element" fxFlex="25%" class="custom-cell">
      <textarea
        matInput
        type="text"
        readonly="true"
        [(ngModel)]="element.requestBody"
        class="input-in-cell"
      >
      </textarea>
    </td>
  </ng-container>

  <tr
    mat-header-row
    *matHeaderRowDef="displayedColumns"
    colspan="6"
    class="custom-row"
  ></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</mat-table>

<mat-paginator
  #paginator
  [length]="requests.length"
  [pageIndex]="0"
  [pageSize]="50"
  showFirstLastButtons
>
</mat-paginator>
