<div class="main-container">
  <div class="actions-button-container">
    <button mat-icon-button (click)="openAddDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-form-field>
    <mat-label>Resources</mat-label>
    <input
      type="text"
      matInput
      [formControl]="resourceId"
      [matAutocomplete]="auto"
      required
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="onSelectionChangeResourceId($event)"
    >
      <mat-option
        *ngFor="let resource of filteredResourceIds"
        [value]="resource.key"
      >
        {{ resource.value }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Search"
      #inputRef
      (change)="applyFilter(inputRef.value)"
    />
  </mat-form-field>
</div>

<mat-table class="full-width-table" [dataSource]="dataSource">
  <ng-container matColumnDef="layoutId">
    <th mat-header-cell *matHeaderCellDef fxFlex="50%" class="centered-title">
      layoutId
    </th>
    <td mat-cell *matCellDef="let element" fxFlex="50%" class="custom-cell">
      {{ element.layoutId }}
    </td>
  </ng-container>

  <ng-container matColumnDef="fileName">
    <th mat-header-cell *matHeaderCellDef fxFlex="50%" class="centered-title">
      fileName
    </th>
    <td mat-cell *matCellDef="let element" fxFlex="50%" class="custom-cell">
      <a [href]="element.url" target="_blank" rel="noopener noreferrer">{{ element.fileName }}</a>
    </td>
  </ng-container>

  <tr
    mat-header-row
    *matHeaderRowDef="displayedColumns"
    colspan="2"
    class="custom-row"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
  ></tr>

</mat-table>

<!-- </div> -->
